* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body > header{
    flex: 0 1 auto;
}

body > main{
    display: flex;
    flex-flow: wrap row;
    flex: 1 0 auto;
    justify-content: space-evenly;
    gap: 5px;
}

.card{
    display: flex;
    flex-flow: column nowrap;
    border: 2px dashed royalblue;
    align-items: center;
    width: 320px;
    height: 240px;
    padding: 50px;
}

.card > header{
    font-weight: bolder;

}